@font-face {
    font-family: 'Heyam';
    src: url('Heyam.woff2') format('woff2'),
        url('Heyam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Happy Autumn';
    src: url('HappyAutumnRegular.woff2') format('woff2'),
        url('HappyAutumnRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

